.button {
  background-image: linear-gradient(to right,rgb(8, 8, 51) , rgb(197, 112, 32));
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  color: whitesmoke;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.2rem 1rem;
  transition: all 0.4s ease-out;
}

.button:hover {
  background-image: linear-gradient(to right,rgb(8, 8, 51) ,rgb(126, 167, 16)); 
}

.buttons_center {
  display: flex;
  justify-content: center;
}
