.polls li {
  margin-top: 10px;
  color: whitesmoke;
  padding: 0.5rem;
  text-align: center;
}

 .polls li:nth-child(odd) {
  background-image: linear-gradient(to right,rgb(8, 8, 51), rgb(194, 130, 70) ); 
} 

.polls li:hover {
  background-image: linear-gradient(to right,rgb(8, 8, 51), rgb(194, 130, 70) ); 
}

.poll-title {
  color: rgb(233, 154, 27);
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.poll-box {
  width: 60%;
  margin: 1rem auto;
  background-color: rgb(190, 147, 65);
  padding: 1rem;
  border-radius: 0.4rem;
}

.header{
  font-style: italic;
  font: italic;
  color: rgb(131, 152, 170);
}